/* Importação de fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Definição de fontes personalizadas */
@font-face {
    font-family: 'menu';
    src: url('../fonts/menu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'culinaria';
    src: url('../fonts/culinaria.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

/* Variáveis de cor */
:root {
    --white: #fff;
    --black: #000;
    --purple1: #7d1ad4;
    --purple2: #6e17b9;
}

/* Estilos para o tema escuro */
[data-theme="dark"] {
    --white: #1a1919;
    --black: #fff;
}

/* Estilos globais de corpo */
body {
    background-color: var(--white);
}

/* Botão de alternância do modo escuro */
#btn-dark-mode-toggle {
    background-color: var(--black);
    padding: .4rem;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#btn-dark-mode-toggle:hover {
    background-color: var(--black);
    transition: .8s;
}

/* Ícones gerais */
svg {
    color: var(--white);
    width: 18px;
    height: 18px;
}

/* Reset de estilos e estilos globais */
*,
*::before,
*::after {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Lista sem marcadores */
li {
    list-style: none;
}

/* Estilos comuns para elementos de bloco */
a, img, span, input, button {
    display: block;
}

/* Estilo de link padrão */
a {
    color: inherit;
    text-decoration: none;
}

/* Estilo de imagem padrão */
img {
    height: auto;
}

/* Estilos comuns para botões e inputs */
input, button {
    background: none;
    border: none;
    font: inherit;
}

/* Estilo para inputs de largura total */
input {
    width: 100%;
}

/* Estilo padrão para botões */
button {
    color: inherit;
    cursor: pointer;
}

/* Configurações globais para o documento HTML */
html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    line-height: 20px;
    letter-spacing: 0.25px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilos para o cabeçalho */
#header {
    width: 100%;
    position: fixed;
    padding: 1rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(165, 165, 165);
    z-index: 9999;
}

/* Estilos para o menu de navegação */
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    font-size: 20px;
    color: rgb(255, 174, 0);
    font-family: 'Poppins', sans-serif;
    display: block;
    padding: .5rem;
    text-decoration: none;
}

/* Botão de menu para dispositivos móveis */
#btn-mobile {
    display: none;
}

/* Estilo do logotipo */
#logo {
    color: rgb(255, 174, 0);
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'culinaria', Courier, monospace;
}

/* Estilos de mídia para telas menores (máx. 600px) */
@media (max-width: 600px) {

    #logo {
        font-size: 1.5rem;
    }

    #header {
        justify-content: space-between;
    }

    #btn-mobile {
        display: block;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--white);
        height: 0px;
        transition: .6s;
        z-index: 9999;
        visibility: hidden;
        overflow-y: auto;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(165, 165, 165);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: var(--black);
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        color: var(--black);
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* Estilos para a seção hero */
.hero {
    padding-inline: 16px;
    margin-top: 90px;
}

/* Estilos para o banner na seção hero */
.banner-card {
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: linear-gradient(rgba(0, 0, 1, 0.63), rgba(0, 0, 0, 0)), url("../img/pexels-chan-walrus-958545.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 380px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    place-content: center;
    padding-inline: 20px;
    border-radius: 8px;
}

/* Estilos para o título no banner */
.banner-card h1 {
    color: rgb(255, 255, 255);
    font-family: 'menu', sans-serif;
    text-align: center;
    line-height: 120%;
    max-width: 948;
    font-size: 45px;
}

/* Estilos para a descrição no banner */
.label-medium {
    font-weight: 500;
}

/* Estilos para a caixa de pesquisa na seção hero */
.hero .search-wrapper {
    position: relative;
    color: hsl(0, 0%, 0%);
    border-radius: 4px;
    max-width: 480px;
    width: 100%;
    margin-inline: auto;
    margin-block: 16px 12px;
    overflow: hidden;
}

/* Estilos para o ícone na caixa de pesquisa */
.hero .search-wrapper .leading-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

/* Estilos para o campo de pesquisa */
.search-field {
    height: 56px;
    background-color: rgb(255, 255, 255);
    padding-inline: 56px;
    outline: none;
}

/* Estilos para o botão de pesquisa */
.search-submit {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    width: 48px;
    display: grid;
    place-items: center;
    background-color: rgb(255, 174, 0);
    border-radius: 4px;
    transition: var(--transition-short);
}

/* Estilos para o botão de pesquisa ao passar o mouse */
.search-submit:where(:hover, :focus-visible):not(:active) {
    background-color: rgb(221, 151, 0);
}

/* Estilos adicionais para telas menores (máx. 768px) */
@media screen and (max-width: 768px) {
    .banner-card h1 {
        font-size: 33px;
    }
}

/* Estilos gerais para evitar rolagem horizontal */
html {
    overflow-x: hidden;
}

/* Estilos para o contêiner de títulos "RECENTES" */
.container1 {
    text-transform: capitalize;
    transition: all .2s linear;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2rem;
}

.container1 .title {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

/* Estilos para o contêiner principal de receitas */
.container {
    font-family: 'menu', Helvetica, sans-serif;
    margin: 20px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    justify-content: center;
    padding: 0 20px;
}

/* Estilos para as polaroids (cartões de receitas) */
.polaroid {
    background: rgba(255, 174, 0, 0.164);
    padding: 0px 0px 20px;
}

/* Estilos para a imagem da receita */
.photo {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

/* Estilos para a legenda da receita */
.caption {
    margin-top: 10px;
}

/* Estilos para o título da receita */
.caption h2 {
    color: var(--black);
    font-size: 1.3rem;
    text-align: center;
}

/* Estilos para a descrição da receita */
.caption p {
    color: var(--black);
    font-size: .7rem;
    font-family: 'Poppins', Helvetica, sans-serif;
    text-align: center;
}

.container11 {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
    
}

.categories {
    display: flex;
    justify-content: space-around;
    background-color: rgb(87, 17, 17);
    padding: 20px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

.categories h2 {
    margin-bottom: 10px;
}

.categories ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    
}

.categories li {
    display: flex;
    cursor: pointer;
    padding: 8px;
    margin-left: 10px;
    background-color: rgb(255, 174, 0);
    border-radius: 10px;
    font-size: 1rem;  
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    color: var(--black);
}

